html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    font-family: Arial, sans-serif;
    color: #56021F !important;
    margin: 20px;
    background-color: #F4CCE9 !important;
}

.navbar {
    background-color: #D17D98 !important;
}

.nav-link{
    color: #56021F !important;
}

h1, h2 {
    color: #56021F !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #F4CCE9;
    color: #F4CCE9;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #F4CCE9;
}

th {
    background: #007bff;
    color: black;
}

button {
    padding: 5px 10px;
    background: #F4CCE9;
    color: #56021F;
    border: none;
    cursor: pointer;
}

.form-control {
    background-color: #D17D98;
}

button:hover {
    background: #218838;
}
.btn {
    background-color: #7D1C4A;
}

.card-body{
    background-color: #F4CCE9;
}

.btn-link{
    color: #F4CCE9 !important;
}

.btn-warning{
    color: white !important;
}

input .form-control{
    color: #56021F !important;
}
