@model IEnumerable<Booktopia.Models.Entities.BookRating>

<h2>Book Ratings</h2>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Book</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rating in Model)
        {
            <tr>
                <td>@rating.User.Email</td>
                <td>@rating.Book.Title</td>
                <td>@rating.Value</td>
            </tr>
        }
    </tbody>
</table>
